@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white text-gray-800 font-sans;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold leading-tight;
  }
  
  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl;
  }
  
  h2 {
    @apply text-3xl md:text-4xl;
  }
  
  h3 {
    @apply text-2xl md:text-3xl;
  }
  
  p {
    @apply text-lg text-gray-600 leading-relaxed;
  }
  
  .section {
    /* @apply py-20 md:py-24 lg:py-15; */
  }
  
  .container {
    @apply px-4 sm:px-6 lg:px-8 mx-auto max-w-7xl;
  }
}

@keyframes fadeIn {
  from { opacity: 0.5; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}